<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kwShop.Shop.admin.mapper.AdminMapper">

    <insert id="productRegister" parameterType="com.kwShop.Shop.admin.vo.ProductVO" useGeneratedKeys="true" keyProperty="p_id">

        insert into tbl_product (p_name, p_price, p_title, p_content, p_date, p_udate, p_quantity, p_categoryCode, p_discount)
        VALUES ( #{p_name}, #{p_price}, #{p_title}, #{p_content},  NOW(),  NOW(), #{p_quantity}, #{p_categoryCode}, #{p_discount} );

    </insert>

  <!--  <select id="productList" resultType="com.kwShop.Shop.admin.vo.ProductVO">

        select p_id, p_name, p_price, p_title, p_content, p_date, p_udate, p_count
        from tbl_product
        <if test="keyword !=null">
            where p_name like concat('%', #{keyword}, '%')
        </if>
        order by p_id DESC
        limit #{offset}, #{amount}

    </select>-->
    <select id="productList" resultType="com.kwShop.Shop.admin.vo.ProductVO">
        SELECT p.p_id, p.p_name, p.p_price, p.p_title, p.p_content, p.p_date, p.p_udate, p.p_quantity, p.p_categoryCode, p.p_discount,
        a.uuid AS attachUuid, a.uploadPath AS attachUploadPath, a.filename AS attachFilename,
        c.name AS p_categoryName
        FROM tbl_product p
        LEFT JOIN tbl_attach a ON p.p_id = a.p_id
        LEFT JOIN tbl_category c ON p.p_categoryCode = c.id
        <if test="keyword != null">
            WHERE p.p_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY p.p_id DESC
        LIMIT #{offset}, #{amount}
    </select>



    <select id="productTotal" resultType="int">

        select count(*)
        from tbl_product

    </select>

    <select id="productGet" resultType="com.kwShop.Shop.admin.vo.ProductVO">
        select *
        from tbl_product
        where p_id = #{p_id}
    </select>

    <select id="findByPid" resultType="com.kwShop.Shop.admin.vo.AttachImageVO">
        select * from tbl_attach where p_id = #{p_id}
    </select>


    <select id="findByAll" resultType="com.kwShop.Shop.admin.vo.AttachImageVO">
        select * from tbl_attach
    </select>


    <insert id="insert">
        insert into tbl_attach (uuid, uploadPath, filename, p_id)
        values (#{uuid}, #{uploadPath}, #{fileName},  #{p_id})
    </insert>

    <update id="productUpdate">
        update tbl_product set p_name = #{p_name}, p_price = #{p_price}, p_title = #{p_title}, p_content = #{p_content}, p_quantity=#{p_quantity}, p_udate = NOW() where p_id = #{p_id}
    </update>

    <update id="update">
        update tbl_attach
        set uuid = #{uuid}, uploadPath = #{uploadPath}, fileName = #{fileName} where p_id = #{p_id}
    </update>

    <select id="ImageByProduct" resultType="com.kwShop.Shop.admin.vo.ProductVO">

        SELECT p.p_id, p.p_name, p.p_price, p.p_title, p.p_content, p.p_date, p.p_udate, p.p_quantity,
        a.uuid AS attachUuid, a.uploadPath AS attachUploadPath, a.filename AS attachFilename
        FROM tbl_product p
        LEFT JOIN tbl_attach a ON p.p_id = a.p_id
        WHERE p.p_id =  #{p_id}

    </select>

    <delete id="deleteProduct">
          delete from tbl_product where p_id = #{p_id}
    </delete>

    <delete id="deleteImage">
        delete from tbl_attach where p_id = #{p_id}
    </delete>

    <!-- 카테고리 -->
    <select id="categoryList" resultType="com.kwShop.Shop.admin.vo.CategoryVO">

        select *
        from tbl_category
        order by id

    </select>


</mapper>