<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kwShop.Shop.member.mapper.MemberMapper">

    <!-- 회원가입 -->
    <insert id="memberJoin" parameterType="com.kwShop.Shop.member.vo.MemberVO">
        insert into tbl_member values (#{member_id}, #{member_pw}, #{member_name}, #{member_mail}, #{member_Addr1},#{member_Addr2},#{member_Addr3},0, sysdate(), 10000, 5000)
    </insert>

    <!--로그인-->
    <select id="memberLogin" resultType="com.kwShop.Shop.member.vo.MemberVO">
        select member_id, member_name, adminCk, money, point from tbl_member
        where  member_id = #{member_id} and member_pw = #{member_pw}
    </select>


    <!-- 회원가입 닉네임 중복체크 -->
    <select id="idCheck" resultType="int">
        select count(*) from tbl_member where member_id = #{member_id}
    </select>


    <!--

           SELECT p.p_id, p.p_name, p.p_price, p.p_title, p.p_content, p.p_date, p.p_udate, p.p_quantity, p.p_categoryCode, p.p_categoryName,p.p_discount,
        a.uuid AS attachUuid, a.uploadPath AS attachUploadPath, a.filename AS attachFilename

        FROM tbl_product p
        LEFT JOIN tbl_attach a ON p.p_id = a.p_id
        <if test="keyword != null">
            WHERE p.p_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY p.p_id DESC
        LIMIT #{offset}, #{amount}

        -->

    <!-- 회원 목록-->
    <select id="memberList" resultType="com.kwShop.Shop.member.vo.MemberVO">

        SELECT member_id, member_name, member_mail, adminCk, regDate
        FROM tbl_member
        <if test="keyword != null">
            WHERE member_id LIKE CONCAT('%', #{keyword}, '%')
        </if>

        ORDER BY member_id DESC
        LIMIT #{offset}, #{amount}

    </select>

    <delete id="memberDelete">
        delete
        from tbl_member
        where member_id = #{member_id}

    </delete>

    <select id="profile" resultType="com.kwShop.Shop.member.vo.MemberVO">

        select * from tbl_member where member_id = #{member_id}

    </select>

    <update id="memberUpdate" parameterType="com.kwShop.Shop.member.vo.MemberVO">

        update tbl_member

        set member_pw = #{member_pw}, member_name = #{member_name}, member_mail = #{member_mail}, member_Addr1 = #{member_Addr1}, member_Addr2 = #{member_Addr2}, member_Addr3 = #{member_Addr3}

    </update>


    <select id="memberTotal" resultType="int">
        SELECT count(*)
        FROM tbl_member;
    </select>

</mapper>