<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kwShop.Shop.qna.mapper.QnaMapper">

    <select id="getList" resultType="com.kwShop.Shop.qna.vo.QnaVO">
        select * from tbl_qna
    </select>

    <insert id="insert" parameterType="com.kwShop.Shop.qna.vo.QnaVO">

        insert into tbl_qna(q_no, q_title, q_content, q_writer) values (#{q_no}, #{q_title}, #{q_content}, #{q_writer})

    </insert>

    <select id="get" resultType="com.kwShop.Shop.qna.vo.QnaVO">
        select * from tbl_qna where q_no = #{q_no}
    </select>

    <update id="update" >

        update tbl_qna
        set
        q_title = #{q_title},
        q_content = #{q_content},
        q_writer = #{q_writer}
        where q_no = #{q_no}

    </update>

    <delete id="delete">
        delete from tbl_qna where q_no = #{q_no}
    </delete>

    <update id="count">
        update tbl_qna
        set
        q_count = q_count + 1
        where q_no = #{q_no}
    </update>

    <select id="getListWithPaging" resultType="com.kwShop.Shop.qna.vo.QnaVO">
        <![CDATA[
    SELECT
       q_no, q_title, q_content, q_writer, q_date, q_udate, q_status, q_count
    FROM
        tbl_qna
   ]]>
        <where>
            <!-- searchType이 title일 때 제목 검색 -->
            <if test="type == 'q_title'">
                AND q_title LIKE CONCAT('%', #{keyword}, '%')
            </if>

            <!-- searchType이 content일 때 내용 검색 -->
            <if test="type == 'q_content'">
                AND q_content LIKE CONCAT('%', #{keyword}, '%')
            </if>

            <!-- searchType이 writer일 때 작성자 검색 -->
            <if test="type == 'q_writer'">
                AND q_writer LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    ORDER BY q_no DESC

    LIMIT #{offset}, #{amount}

    </select>



    <select id="getTotalCount" resultType="int">
        select count(*) from tbl_qna where q_no > 0
    </select>

</mapper>